SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

USE_SQLITE=True

DB_NAME=crm_dicescream
DB_USER=crm_user
DB_PASSWORD=crm_password
DB_HOST=localhost
DB_PORT=5432

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

MASTER_USERNAME=EnotGod
MASTER_PASSWORD=Murmansk51
MASTER_EMAIL=admin@dicescream.local
